.footerend{
 display: flex;
    flex-direction: row;
    align-items: center;
}
.bath{
    width: 250px;
    height:150px;
    background: url(/src/images/Bath.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
#facebook{
    width:36px;
    height: 36px;
    background: url(/src/images/Facebook.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#instagram{
    width:36px;
    height: 36px;
    background: url(/src/images/Instagram.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}