@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Map{
    width: 100%;
    height: 100vh;   
    background: url(/src/images/Map.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
 
    
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;  
    background: #BB7043;
    width: 400px;
    height: 150px;
}

.center> h4{
text-align: center;    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    word-wrap: break-word;
    color: #ffffff;

}